<?xml version="1.0" encoding="utf-8"?>
<Content Key="8027be30-8916-4938-a676-0792e5f0bd4a" Alias="Content 1" Level="2">
  <Info>
    <Parent Key="442a1b54-2eda-42be-9f7c-996fb4e658c4">Home</Parent>
    <Path>/Home/Content1</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-29T14:54:50</CreateDate>
    <NodeName Default="Content 1">
      <Name Culture="en-us">Content 1</Name>
      <Name Culture="nl-nl">Content 1 Dutch</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4125c089e1fb42d681a752416e9176ab"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0aa82a36-54c6-4996-91f2-2b7ddba486cd",
      "udi": "umb://element/4125c089e1fb42d681a752416e9176ab",
      "title": "Input Block"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value Culture="en-us"><![CDATA[Content 1]]></Value>
      <Value Culture="nl-nl"><![CDATA[Content Dutch]]></Value>
    </title>
  </Properties>
</Content>