<?xml version="1.0" encoding="utf-8"?>
<Content Key="79ee783d-627b-4605-b5f7-2cbc023dbd05" Alias="Content 2" Level="2">
  <Info>
    <Parent Key="442a1b54-2eda-42be-9f7c-996fb4e658c4">Home</Parent>
    <Path>/Home/Content2</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-29T14:55:03</CreateDate>
    <NodeName Default="Content 2">
      <Name Culture="en-us">Content 2</Name>
      <Name Culture="nl-nl">Content 2 Dutch</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/545cc84285174f56809460fded44b572"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e3c4bf1e-60aa-4bbc-a22d-46fbc31bcaf6",
      "udi": "umb://element/545cc84285174f56809460fded44b572",
      "title": "Output Block"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </blocks>
    <title>
      <Value Culture="en-us"><![CDATA[Content 2]]></Value>
      <Value Culture="nl-nl"><![CDATA[Content 2 Dutch]]></Value>
    </title>
  </Properties>
</Content>