<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6b0f7e4-3d25-4753-a939-98c6aea8b45f" Alias="Data" Level="2">
  <Info>
    <Parent Key="442a1b54-2eda-42be-9f7c-996fb4e658c4">Home</Parent>
    <Path>/Home/Data</Path>
    <Trashed>false</Trashed>
    <ContentType>data</ContentType>
    <CreateDate>2023-05-29T14:55:12</CreateDate>
    <NodeName Default="Data" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>