<?xml version="1.0" encoding="utf-8"?>
<Content Key="073ff37b-a1af-4585-89c7-c40b644021d1" Alias="Form" Level="2">
  <Info>
    <Parent Key="442a1b54-2eda-42be-9f7c-996fb4e658c4">Home</Parent>
    <Path>/Home/Form</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2023-07-11T15:00:11</CreateDate>
    <NodeName Default="Form">
      <Name Culture="en-us">Form</Name>
      <Name Culture="nl-nl">Form Dutch</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formTitle>
      <Value Culture="en-us"><![CDATA[New Form]]></Value>
      <Value Culture="nl-nl"><![CDATA[New Dutch Form]]></Value>
    </formTitle>
  </Properties>
</Content>