<?xml version="1.0" encoding="utf-8"?>
<Content Key="442a1b54-2eda-42be-9f7c-996fb4e658c4" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-05-19T17:30:17</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
      <Name Culture="nl-nl">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6435acc276f74507aaeeb6f2fa6b2233"
      },
      {
        "contentUdi": "umb://element/430ea6ad7c834d2aa2b78f34d8ce32eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "90da9b18-c348-485f-812b-d3afcef7718c",
      "udi": "umb://element/430ea6ad7c834d2aa2b78f34d8ce32eb",
      "title": "Home Page Header",
      "image": "[\r\n  {\r\n    \"key\": \"e5abc434-cea7-4509-b442-da413c6661d4\",\r\n    \"mediaKey\": \"bc85c5df-c945-4e56-9905-fc922d3d4022\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "90da9b18-c348-485f-812b-d3afcef7718c",
      "udi": "umb://element/6435acc276f74507aaeeb6f2fa6b2233",
      "title": "Home Page Header 2",
      "image": "[]"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a2da4c97a9e74e2f9d65b54a402ed7eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "90da9b18-c348-485f-812b-d3afcef7718c",
      "udi": "umb://element/a2da4c97a9e74e2f9d65b54a402ed7eb",
      "title": "Home Page Dutch",
      "image": "[\r\n  {\r\n    \"key\": \"5f417b57-f3e5-4f10-80ac-e76008bc63e3\",\r\n    \"mediaKey\": \"bc85c5df-c945-4e56-9905-fc922d3d4022\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <title>
      <Value Culture="en-us"><![CDATA[Home Page]]></Value>
      <Value Culture="nl-nl"><![CDATA[Home Dutch]]></Value>
    </title>
  </Properties>
</Content>