<?xml version="1.0" encoding="utf-8"?>
<Content Key="b13b0a85-0acc-45c1-92d4-72e958d71bd7" Alias="Navigation" Level="3">
  <Info>
    <Parent Key="f6b0f7e4-3d25-4753-a939-98c6aea8b45f">Data</Parent>
    <Path>/Home/Data/Navigation</Path>
    <Trashed>false</Trashed>
    <ContentType>navigation</ContentType>
    <CreateDate>2023-05-29T14:55:39</CreateDate>
    <NodeName Default="Navigation">
      <Name Culture="en-us">Navigation</Name>
      <Name Culture="nl-nl">Navigation Dutch</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/442a1b542eda42be9f7c996fb4e658c4"
  },
  {
    "name": "Test Content",
    "target": "",
    "udi": "umb://document/8027be3089164938a6760792e5f0bd4a"
  },
  {
    "name": "Content 2",
    "udi": "umb://document/79ee783d627b4605b5f72cbc023dbd05"
  }
]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Home Dutch",
    "udi": "umb://document/442a1b542eda42be9f7c996fb4e658c4"
  },
  {
    "name": "Content Dutch",
    "udi": "umb://document/8027be3089164938a6760792e5f0bd4a"
  }
]]]></Value>
    </links>
  </Properties>
</Content>