<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a49110f8-bb5a-49cd-bcea-6e7aa782050a" Alias="data" Level="2">
  <Info>
    <Name>Data</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f319805e-95bb-43bd-8a26-84533f0f038b" SortOrder="0">navigation</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>