<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65ab0eed-a307-43c9-a5e1-0fa81688d02b" Alias="Blocks" Level="1">
  <Info>
    <Name>Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "90da9b18-c348-485f-812b-d3afcef7718c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0aa82a36-54c6-4996-91f2-2b7ddba486cd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e3c4bf1e-60aa-4bbc-a22d-46fbc31bcaf6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>